In [1]:
# installation paths
# !pip install pandas
# !pip install numpy

In [2]:
# import dependencies
import zipfile
import os.path
import pandas as pd
import numpy as np
from datetime import time
from datetime import datetime as dt

In [3]:
import Group5FileLib as fl

# Unzip files if they are not unzipped on local machine
fl.UnzipFiles()

# Combine Zipped Files
viewFile = fl.CombineFiles()

# Load Lot Fact File
lotFile = fl.LoadLotFacts()

File exists data/VCardTransactions-NoName.csv - NOT un-zipping
File exists data/VCardTransactions-NoName2.csv - NOT un-zipping
File exists data/vtrans.csv - NOT merging

In [4]:
# read files into a data frame
vtrans = pd.read_csv(viewFile)
capacity = pd.read_csv(lotFile)

In [5]:
# read lot facts csv file into pandas dataframe
capacity = capacity.sort_values(by="lot", ascending=True)
capacity = capacity.reset_index(drop=True)
capacity = capacity.rename(columns= {"lot":"LotNumber"})
capacity

    LotNumber  capacity
0           2        34
1           3       217
2           4        48
3           6        20
4           7        10
5           8        37
6           9        18
7          10       462
8          11       591
9          12        88
10         13       170
11         14       130
12         15        12
13         18        76
14         20       239
15         21       124
16         22        20
17         24        75
18         25        25
19         28        18
20         29         7
21         30       156
22         31        17
23         33         2
24         34        66
25         35        20
26         36       135
27         38        15
28         40       465
29         41        36
30         42        77
31         43      1624
32         44        20
33         45        60
34         46       138
35         47       138
36         48       106
37         49       265
38         50        25
39         51        58
40         55       900
41         57        15
42         62        76
43         65      1990
44         67        10
45         68        42
46         70         8
47         72        47
48         75      1225
49         77       121
50         82        35
51         85      1700
52         91         4
53         92        78

In [6]:
# return vtrans dataframe
vtrans

,tTransID,FullName,CardNumber,LotNumber,EffectiveGroupName,EntranceTime,ExitTime,Sort_Time,BusinessHours,NWHours,UseMoreThan3Hours,HourExceed3Hours,NoEntry,noexit,Consecutive,Overnight
0,22840709,NaN,12777,13,NaN,2022-07-11 12:29:09.493,NaN,2022-07-11 12:29:09.493,NaN,NaN,NaN,NaN,0,1,0,0
1,22840716,NaN,47951,40,NaN,2022-07-11 12:29:09.367,NaN,2022-07-11 12:29:09.367,NaN,NaN,NaN,NaN,0,1,0,0
2,22840719,NaN,58760,3,NaN,2022-07-11 12:29:04.227,NaN,2022-07-11 12:29:04.227,NaN,NaN,NaN,NaN,0,1,0,0
3,22840717,NaN,57369,20,NaN,2022-07-11 12:29:02.680,NaN,2022-07-11 12:29:02.680,NaN,NaN,NaN,NaN,0,1,0,0
4,22840710,NaN,13947,11,NaN,2022-07-11 12:28:53.320,NaN,2022-07-11 12:28:53.320,NaN,NaN,NaN,NaN,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6743017,9008592,NaN,22348,70,NW (With Permit),2018-01-01 02:47:54.023,2018-01-01 15:09:22.233,2018-01-01 02:47:54.023,0.0,13.0,0.0,0.0,0,0,0,0
6743018,9007839,NaN,40907,70,NW ONLY,2018-01-01 01:53:11.657,2018-01-01 02:43:54.163,2018-01-01 01:53:11.657,0.0,1.0,0.0,0.0,0,0,0,0
6743019,9007851,NaN,2005,10,Lot 10,2018-01-01 01:33:14.233,2018-01-01 05:03:29.757,2018-01-01 01:33:14.233,0.0,4.0,0.0,0.0,0,0,0,0
6743020,9056422,NaN,23050,70,NW (With Permit),2018-01-01 01:14:17.293,NaN,2018-01-01 01:14:17.293,NaN,NaN,NaN,NaN,0,1,1,0
6743021,9007836,NaN,36907,50,NW (With Permit),2018-01-01 00:48:23.120,2018-01-01 01:51:44.813,2018-01-01 00:48:23.120,0.0,2.0,0.0,0.0,0,0,0,0

In [7]:
# list columns that we want to look at from vtrans
ini_cols = ['tTransID', 'CardNumber', 'LotNumber', 'EffectiveGroupName','EntranceTime', 'ExitTime', 'NoEntry', 'noexit']

# reset df to updated columns list
vtrans = vtrans.reindex(columns=ini_cols)

# replace na values in effective group name to identify those that may not have a parking pass
vtrans['EffectiveGroupName'] = vtrans['EffectiveGroupName'].fillna('Other')

# preview
vtrans

,tTransID,CardNumber,LotNumber,EffectiveGroupName,EntranceTime,ExitTime,NoEntry,noexit
0,22840709,12777,13,Other,2022-07-11 12:29:09.493,NaN,0,1
1,22840716,47951,40,Other,2022-07-11 12:29:09.367,NaN,0,1
2,22840719,58760,3,Other,2022-07-11 12:29:04.227,NaN,0,1
3,22840717,57369,20,Other,2022-07-11 12:29:02.680,NaN,0,1
4,22840710,13947,11,Other,2022-07-11 12:28:53.320,NaN,0,1
...,...,...,...,...,...,...,...,...
6743017,9008592,22348,70,NW (With Permit),2018-01-01 02:47:54.023,2018-01-01 15:09:22.233,0,0
6743018,9007839,40907,70,NW ONLY,2018-01-01 01:53:11.657,2018-01-01 02:43:54.163,0,0
6743019,9007851,2005,10,Lot 10,2018-01-01 01:33:14.233,2018-01-01 05:03:29.757,0,0
6743020,9056422,23050,70,NW (With Permit),2018-01-01 01:14:17.293,NaN,0,1
6743021,9007836,36907,50,NW (With Permit),2018-01-01 00:48:23.120,2018-01-01 01:51:44.813,0,0

In [8]:
# change the format for date and time to drop nanosecs for both entry and exit date/time
vtrans['EntranceTime'] = pd.to_datetime(vtrans['EntranceTime']).dt.strftime('%Y-%m-%d %H:%M:%S')
vtrans['EntranceTime'] = pd.to_datetime(vtrans['EntranceTime'], format='%Y-%m-%d %H:%M:%S')

vtrans['ExitTime'] = pd.to_datetime(vtrans['ExitTime']).dt.strftime('%Y-%m-%d %H:%M:%S')
vtrans['ExitTime'] = pd.to_datetime(vtrans['ExitTime'], format='%Y-%m-%d %H:%M:%S')

In [9]:
# breakout vtrans date/time into individual columns for entry and exit - 
vtrans['EntranceDate'] = vtrans['EntranceTime'].dt.date
vtrans['TimeIn'] = vtrans['EntranceTime'].dt.time
vtrans['ExitDate'] = vtrans['ExitTime'].dt.date
vtrans['TimeOut'] = vtrans['ExitTime'].dt.time

# breakout vtrans day of week into individual columns for entry and ex
vtrans['EntranceDay'] = vtrans['EntranceTime'].dt.day_name()
vtrans['ExitDay'] = vtrans['ExitTime'].dt.day_name()

# subtract exitout and timein to get time parked
vtrans['TimeParked'] = vtrans['ExitTime'] - vtrans['EntranceTime']

# get the time in seconds, then divide by 3600 to get hours
vtrans['TimeParked'] = vtrans['TimeParked'].dt.seconds / 3600

In [10]:
# getting counts for days of week to verify to_day code worked as expected. 
e_count = vtrans.value_counts("EntranceDay")
x_count = vtrans.value_counts("ExitDay")

# show value counts
e_count
# x_count

EntranceDay
Wednesday    1188984
Tuesday      1188198
Thursday     1159389
Monday       1082119
Friday       1061582
Saturday      533065
Sunday        529685
dtype: int64

In [11]:
# Using mutliple select boxes to filter a single dataframe with columns also filtered
col_titles = ['tTransID', 'CardNumber', 'LotNumber', 'EffectiveGroupName','EntranceDate', 'EntranceDay', 'TimeIn',
       'ExitDate','ExitDay', 'TimeOut', 'TimeParked']

vtrans = vtrans.reindex(columns=col_titles)

vtrans

,tTransID,CardNumber,LotNumber,EffectiveGroupName,EntranceDate,EntranceDay,TimeIn,ExitDate,ExitDay,TimeOut,TimeParked
0,22840709,12777,13,Other,2022-07-11,Monday,12:29:09,NaT,NaN,NaT,NaN
1,22840716,47951,40,Other,2022-07-11,Monday,12:29:09,NaT,NaN,NaT,NaN
2,22840719,58760,3,Other,2022-07-11,Monday,12:29:04,NaT,NaN,NaT,NaN
3,22840717,57369,20,Other,2022-07-11,Monday,12:29:02,NaT,NaN,NaT,NaN
4,22840710,13947,11,Other,2022-07-11,Monday,12:28:53,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6743017,9008592,22348,70,NW (With Permit),2018-01-01,Monday,02:47:54,2018-01-01,Monday,15:09:22,12.357778
6743018,9007839,40907,70,NW ONLY,2018-01-01,Monday,01:53:11,2018-01-01,Monday,02:43:54,0.845278
6743019,9007851,2005,10,Lot 10,2018-01-01,Monday,01:33:14,2018-01-01,Monday,05:03:29,3.504167
6743020,9056422,23050,70,NW (With Permit),2018-01-01,Monday,01:14:17,NaT,NaN,NaT,NaN
6743021,9007836,36907,50,NW (With Permit),2018-01-01,Monday,00:48:23,2018-01-01,Monday,01:51:44,1.055833

In [12]:
# Defining a widget to select a certain lot#

from ipywidgets import widgets, interactive, Layout
w_lot = widgets.Dropdown(
    options = ["All"] + sorted(set(vtrans.LotNumber)),     
    value = "All",
    description = 'Lot #:',
    disabled = False
)

def view(lot):
    if lot == "All":
        dftmp = vtrans
    else:
        dftmp = vtrans[vtrans.LotNumber == lot]
    
    display(dftmp)

i = interactive(view, lot=w_lot)
display(i)

interactive(children=(Dropdown(description='Lot #:', options=('All', 0, 3, 4, 6, 8, 9, 10, 11, 13, 14, 18, 20,…

In [13]:
# Defining a widget to select data for a certain day of the week
w_dow = widgets.Dropdown(
    options = ["All", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"],     
    value = "Monday",
    description = 'Day of the week:',
    style = {"description_width": '100px'},
    disabled = False
)

def view(dow):
    if dow == "All":
        dftmp = vtrans
    else:
        dftmp = vtrans[vtrans.EntranceDay == dow]
    
    display(dftmp)

i = interactive(view, dow=w_dow)
display(i)

interactive(children=(Dropdown(description='Day of the week:', index=1, options=('All', 'Monday', 'Tuesday', '…

In [14]:
# Defining a widget to select data for a certain day of the week and lot

w_lot_combo = widgets.Dropdown(
    options = ["All"] + sorted(set(vtrans.LotNumber)),
    continuous_update=False,
    value = "All",
    description = 'Lot#:',
    style = {"description_width": '100px'},
    disabled = False
)

w_dow_combo = widgets.Dropdown(
    options = ["All", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"],   
    continuous_update=False,
    value = "Monday",
    description = 'Day of the week:',
    style = {"description_width": '100px'},
    disabled = False
)

    
def change_a(l,d):
    if w_lot_combo.value == "All":
        dftmp = vtrans
    else:
        dftmp = vtrans[vtrans.LotNumber == w_lot_combo.value]
        
    if w_dow_combo.value != "All":
        dftmp = dftmp[dftmp.EntranceDay == w_dow_combo.value]
    display(dftmp)
    

i = interactive(change_a, l = w_lot_combo, d = w_dow_combo)
display(i)

interactive(children=(Dropdown(description='Lot#:', options=('All', 0, 3, 4, 6, 8, 9, 10, 11, 13, 14, 18, 20, …

In [15]:
# Bringing the lot capacity into the vtrans data frame as df = lottime
lottime = vtrans
lottime

,tTransID,CardNumber,LotNumber,EffectiveGroupName,EntranceDate,EntranceDay,TimeIn,ExitDate,ExitDay,TimeOut,TimeParked
0,22840709,12777,13,Other,2022-07-11,Monday,12:29:09,NaT,NaN,NaT,NaN
1,22840716,47951,40,Other,2022-07-11,Monday,12:29:09,NaT,NaN,NaT,NaN
2,22840719,58760,3,Other,2022-07-11,Monday,12:29:04,NaT,NaN,NaT,NaN
3,22840717,57369,20,Other,2022-07-11,Monday,12:29:02,NaT,NaN,NaT,NaN
4,22840710,13947,11,Other,2022-07-11,Monday,12:28:53,NaT,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6743017,9008592,22348,70,NW (With Permit),2018-01-01,Monday,02:47:54,2018-01-01,Monday,15:09:22,12.357778
6743018,9007839,40907,70,NW ONLY,2018-01-01,Monday,01:53:11,2018-01-01,Monday,02:43:54,0.845278
6743019,9007851,2005,10,Lot 10,2018-01-01,Monday,01:33:14,2018-01-01,Monday,05:03:29,3.504167
6743020,9056422,23050,70,NW (With Permit),2018-01-01,Monday,01:14:17,NaT,NaN,NaT,NaN
6743021,9007836,36907,50,NW (With Permit),2018-01-01,Monday,00:48:23,2018-01-01,Monday,01:51:44,1.055833

In [16]:
# name columns that want to group by
lotcols = ['LotNumber','EntranceDate', 'EntranceDay']

# set new dataframe lottime1 to the lotcols list
lottime1 = lottime.reindex(columns=lotcols)

# drop na columns to omit missing data
lottime1.dropna()

#group by daily counts at each lot
lottime1['daily_count'] = lottime1.groupby(['LotNumber', 'EntranceDate', 'EntranceDay']).EntranceDate.transform('count')

# drop duplicates as way to reset index
lottime1 = lottime1.drop_duplicates()

# join capacity column back into df
lottime1 = pd.merge(lottime1, capacity, on ="LotNumber")

# get percentage of fill for the lot
lottime1['perc_full'] = lottime1['daily_count']/lottime1['capacity']

# average time parked per lot per day
lottime1['Avg_TimeParked'] = lottime.groupby(['EntranceDate','LotNumber','EntranceDay'])['TimeParked'].transform('mean')

# reorder columns for more suitable look
lt1_cols = ['EntranceDate','LotNumber', 'EntranceDay','capacity','daily_count', 'perc_full', 'Avg_TimeParked']

lottime1 = lottime1.reindex(columns=lt1_cols)

# order by entrance date and lot number to clean look in dataframe and widget
lottime1 = lottime1.sort_values(by=['EntranceDate','LotNumber'])

lottime1 = lottime1.reset_index(drop=True)

# return data frame
lottime1

,EntranceDate,LotNumber,EntranceDay,capacity,daily_count,perc_full,Avg_TimeParked
0,2018-01-01,3,Monday,217,1,0.004608,9.716302
1,2018-01-01,6,Monday,20,13,0.650000,2.652946
2,2018-01-01,10,Monday,462,52,0.112554,8.983953
3,2018-01-01,11,Monday,591,139,0.235195,7.966172
4,2018-01-01,14,Monday,130,1,0.007692,4.677940
...,...,...,...,...,...,...,...
30785,2022-07-11,34,Monday,66,30,0.454545,4.866312
30786,2022-07-11,40,Monday,465,185,0.397849,3.047490
30787,2022-07-11,50,Monday,25,117,4.680000,5.988142
30788,2022-07-11,51,Monday,58,17,0.293103,8.983953
30789,2022-07-11,70,Monday,8,133,16.625000,6.402268

In [19]:
# average time parked - working on adding this in. 
lotcols = ['LotNumber','EntranceDate','EntranceDay', 'capacity', 'daily_count', 'perc_full', 'Avg_TimeParked',]

lottime2 = lottime1.reindex(columns=lotcols)

lottime2['dow_atp'] = lottime1.groupby(['LotNumber','EntranceDay'])['Avg_TimeParked'].transform('mean').round(2)

lottime2['dow_adc'] = lottime1.groupby(['LotNumber','EntranceDay'])['daily_count'].transform('mean').round(2)

lottime2['dow_apf'] = lottime1.groupby(['LotNumber','EntranceDay'])['perc_full'].transform('mean').round(2)

lottime2 = lottime2.drop(columns = ['EntranceDate','Avg_TimeParked','daily_count','perc_full'])
                                       
lottime2 = lottime2.drop_duplicates()

lottime2 = lottime2.sort_values(by=['LotNumber'])

lottime2 = lottime2.reset_index(drop=True)

In [20]:
# Defining a widget to select data for a certain day of the week and lot

w_lot_combo = widgets.Dropdown(
    options = ["All"] + sorted(set(lottime1.LotNumber)),
    continuous_update=False,
    value = "All",
    description = 'Lot#:',
    style = {"description_width": '100px'},
    disabled = False
)

w_dow_combo = widgets.Dropdown(
    options = ["All", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"],   
    continuous_update=False,
    value = "Monday",
    description = 'Day of the week:',
    style = {"description_width": '100px'},
    disabled = False
)

    
def change_a(l,d):
    if w_lot_combo.value == "All":
        dftmp = lottime2
    else:
        dftmp = lottime2[lottime2.LotNumber == w_lot_combo.value]
        
    if w_dow_combo.value != "All":
        dftmp = dftmp[dftmp.EntranceDay == w_dow_combo.value]
    display(dftmp)
    
    

i = interactive(change_a, l = w_lot_combo, d = w_dow_combo)
display(i)

interactive(children=(Dropdown(description='Lot#:', options=('All', 3, 4, 6, 8, 9, 10, 11, 13, 14, 18, 20, 21,…