In [1]:
import Group5FileLib as fl


# Unzip files if they are not unzipped on local machine
fl.UnzipFiles()

# Combine Zipped Files
viewFile = fl.CombineFiles()

# Load Lot Fact File
lotFile = fl.LoadLotFacts()

File exists data/VCardTransactions-NoName.csv - NOT un-zipping
File exists data/VCardTransactions-NoName2.csv - NOT un-zipping
File exists data/vtrans.csv - NOT merging

In [2]:
import pandas as pd

#load CSVs into dataframes
vtrans = pd.read_csv(viewFile)
capacity = pd.read_csv(lotFile)

In [3]:
vtrans

,tTransID,FullName,CardNumber,LotNumber,EffectiveGroupName,EntranceTime,ExitTime,Sort_Time,BusinessHours,NWHours,UseMoreThan3Hours,HourExceed3Hours,NoEntry,noexit,Consecutive,Overnight
0,22840709,NaN,12777,13,NaN,2022-07-11 12:29:09.493,NaN,2022-07-11 12:29:09.493,NaN,NaN,NaN,NaN,0,1,0,0
1,22840716,NaN,47951,40,NaN,2022-07-11 12:29:09.367,NaN,2022-07-11 12:29:09.367,NaN,NaN,NaN,NaN,0,1,0,0
2,22840719,NaN,58760,3,NaN,2022-07-11 12:29:04.227,NaN,2022-07-11 12:29:04.227,NaN,NaN,NaN,NaN,0,1,0,0
3,22840717,NaN,57369,20,NaN,2022-07-11 12:29:02.680,NaN,2022-07-11 12:29:02.680,NaN,NaN,NaN,NaN,0,1,0,0
4,22840710,NaN,13947,11,NaN,2022-07-11 12:28:53.320,NaN,2022-07-11 12:28:53.320,NaN,NaN,NaN,NaN,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6743017,9008592,NaN,22348,70,NW (With Permit),2018-01-01 02:47:54.023,2018-01-01 15:09:22.233,2018-01-01 02:47:54.023,0.0,13.0,0.0,0.0,0,0,0,0
6743018,9007839,NaN,40907,70,NW ONLY,2018-01-01 01:53:11.657,2018-01-01 02:43:54.163,2018-01-01 01:53:11.657,0.0,1.0,0.0,0.0,0,0,0,0
6743019,9007851,NaN,2005,10,Lot 10,2018-01-01 01:33:14.233,2018-01-01 05:03:29.757,2018-01-01 01:33:14.233,0.0,4.0,0.0,0.0,0,0,0,0
6743020,9056422,NaN,23050,70,NW (With Permit),2018-01-01 01:14:17.293,NaN,2018-01-01 01:14:17.293,NaN,NaN,NaN,NaN,0,1,1,0
6743021,9007836,NaN,36907,50,NW (With Permit),2018-01-01 00:48:23.120,2018-01-01 01:51:44.813,2018-01-01 00:48:23.120,0.0,2.0,0.0,0.0,0,0,0,0

In [4]:
capacity

    lot  capacity
0    57        15
1     9        18
2     8        37
3    72        47
4    82        35
5    70         8
6     7        10
7     4        48
8    67        10
9    35        20
10   34        66
11   44        20
12   41        36
13   21       124
14   50        25
15   20       239
16   15        12
17   51        58
18   25        25
19   22        20
20   29         7
21   10       462
22   42        77
23   11       591
24   36       135
25    3       217
26   33         2
27   13       170
28   18        76
29   24        75
30    6        20
31   62        76
32   12        88
33    2        34
34   91         4
35   28        18
36   38        15
37   48       106
38   65      1990
39   85      1700
40   55       900
41   77       121
42   45        60
43   43      1624
44   46       138
45   47       138
46   92        78
47   30       156
48   14       130
49   40       465
50   49       265
51   68        42
52   31        17
53   75      1225

In [5]:
# Defining a widget to select a certain lot#

from ipywidgets import widgets, interactive, Layout

w_lot = widgets.Dropdown(
    options = ["All"] + sorted(set(vtrans.LotNumber)),     
    value = "All",
    description = 'Lot#:',
    disabled = False
)

def view(lot):
    if lot == "All":
        dftmp = vtrans
    else:
        dftmp = vtrans[vtrans.LotNumber == lot]
    
    display(dftmp)

i = interactive(view, lot=w_lot)
display(i)

interactive(children=(Dropdown(description='Lot#:', options=('All', 0, 3, 4, 6, 8, 9, 10, 11, 13, 14, 18, 20, â€¦

In [6]:
# Adding the day of the week using Erich's code (delete this line if you already merged his version)

vtrans['EntranceDay'] = pd.to_datetime(vtrans['EntranceTime']).dt.day_name()

In [7]:
# Defining a widget to select data for a certain day of the week
w_dow = widgets.Dropdown(
    options = ["All"] + sorted(set(vtrans.EntranceDay)),     
    value = "Monday",
    description = 'Day of the week:',
    disabled = False
)

def view(dow):
    if dow == "All":
        dftmp = vtrans
    else:
        dftmp = vtrans[vtrans.EntranceDay == dow]
    
    display(dftmp)

i = interactive(view, dow=w_dow)
display(i)

interactive(children=(Dropdown(description='Day of the week:', index=2, options=('All', 'Friday', 'Monday', 'Sâ€¦

In [58]:
# Using mutliple select boxes to filter a single dataframe with columns also filtered
col_titles = ['tTransID', 'CardNumber', 'LotNumber', 'EffectiveGroupName','EntranceDate', 'EntranceTime', 'EntranceDay',
       'ExitDate', 'ExitTime', 'ExitDay', 'NoEntry', 'noexit']
vtrans = vtrans.reindex(columns=col_titles)

w_lot_combo = widgets.Dropdown(
    options = ["All"] + sorted(set(vtrans.LotNumber)),
    continuous_update=False,
    value = "All",
    description = 'Lot#:',
    disabled = False
)

w_dow_combo = widgets.Dropdown(
    options = ["All", "Monday", "Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"],   
    continuous_update=False,
    value = "Monday",
    description = 'Day of the week:',
    disabled = False
)

    
def change_a(l,d):
    if w_lot_combo.value == "All":
        dftmp = vtrans
    else:
        dftmp = vtrans[vtrans.LotNumber == w_lot_combo.value]
        
    if w_dow_combo.value != "All":
        dftmp = dftmp[dftmp.EntranceDay == w_dow_combo.value]
    display(dftmp)
    

i = interactive(change_a, l = w_lot_combo, d = w_dow_combo)
display(i)

interactive(children=(Dropdown(description='Lot#:', options=('All', 0, 3, 4, 6, 8, 9, 10, 11, 13, 14, 18, 20, â€¦