In [35]:
import zipfile
import os.path

directory = 'data'
files = [
    '{}/cardTransaction.csv.zip'.format(directory),
    '{}/cardTransaction2.csv.zip'.format(directory),
    '{}/VCardTransactions-NoName.csv.zip'.format(directory),
    '{}/VCardTransactions-NoName2.csv.zip'.format(directory)
]

for file in files:
    csvFile = file.replace('.zip','')
    
    if(not os.path.exists(csvFile)):
        print('File DOES NOT exist {} - un-zipping'.format(csvFile))
        with zipfile.ZipFile(file, 'r') as zip_ref:
            zip_ref.extractall(directory)
    else:
        print('File exists {} - NOT un-zipping'.format(csvFile))


transFile = '{}/trans.csv'.format(directory)
os.makedirs(os.path.dirname(transFile), exist_ok=True)

if(not os.path.exists(transFile)):
    print('File NOT exists {} - merging'.format(transFile))
    with open(files[0].replace('.zip','')) as fp:
        data = fp.read()

    with open(files[1].replace('.zip','')) as fp:
        data2 = fp.read()

    data += "\n"
    data += data2

    with open (transFile, 'w') as fp:
        fp.write(data)
else:
    print('File exists {} - NOT merging'.format(transFile))
        
viewFile = '{}/vtrans.csv'.format(directory)
os.makedirs(os.path.dirname(transFile), exist_ok=True)
if(not os.path.exists(viewFile)):
    print('File NOT exists {} - merging'.format(viewFile))
    with open(files[2].replace('.zip','')) as fp:
        data = fp.read()

    with open(files[3].replace('.zip','')) as fp:
        data2 = fp.read()

    data += "\n"
    data += data2

    with open (viewFile, 'w') as fp:
        fp.write(data)
else:
    print('File exists {} - NOT merging'.format(viewFile))

File exists data/cardTransaction.csv - NOT un-zipping
File exists data/cardTransaction2.csv - NOT un-zipping
File exists data/VCardTransactions-NoName.csv - NOT un-zipping
File exists data/VCardTransactions-NoName2.csv - NOT un-zipping
File exists data/trans.csv - NOT merging
File exists data/vtrans.csv - NOT merging

In [38]:
import pandas as pd

trans = pd.read_csv(transFile)
vtrans = pd.read_csv(viewFile)

In [37]:
trans

,TransactionId,CardNumber,LotNumber,Failed,Duplicate,NoEntry,NoExit,Consecutive,Overnight,EntranceActivityId,ExitActivityId,EntranceTime,ExitTime
0,9007836,36907,50,0,0,0,0,0,0,8389130,8389137.0,2018-01-01 00:48:23.120,2018-01-01 01:51:44.813
1,9007839,40907,70,0,0,0,0,0,0,8389138,8389140.0,2018-01-01 01:53:11.657,2018-01-01 02:43:54.163
2,9007851,2005,10,0,0,0,0,0,0,8389135,8389152.0,2018-01-01 01:33:14.233,2018-01-01 05:03:29.757
3,9007853,44525,80,0,0,0,0,0,0,8389154,8389155.0,2018-01-01 05:07:27.243,2018-01-01 05:08:10.900
4,9007865,27670,30,0,0,0,0,0,0,8389148,8389166.0,2018-01-01 04:25:58.583,2018-01-01 05:59:07.920
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6743017,22840716,47951,40,0,0,0,1,0,0,22312187,NaN,2022-07-11 12:29:09.367,NaN
6743018,22840717,57369,20,0,0,0,1,0,0,22312184,NaN,2022-07-11 12:29:02.680,NaN
6743019,22840719,58760,3,0,0,0,1,0,0,22312186,NaN,2022-07-11 12:29:04.227,NaN
6743020,22840720,59143,9,0,0,0,1,1,0,22310672,NaN,2022-07-11 08:17:11.527,NaN
6743021,22840721,59143,9,0,0,0,1,0,0,22312177,NaN,2022-07-11 12:28:32.200,NaN

In [39]:
vtrans

,tTransID,FullName,CardNumber,LotNumber,EffectiveGroupName,EntranceTime,ExitTime,Sort_Time,BusinessHours,NWHours,UseMoreThan3Hours,HourExceed3Hours,NoEntry,noexit,Consecutive,Overnight
0,22840709,NaN,12777,13,NaN,2022-07-11 12:29:09.493,NaN,2022-07-11 12:29:09.493,NaN,NaN,NaN,NaN,0,1,0,0
1,22840716,NaN,47951,40,NaN,2022-07-11 12:29:09.367,NaN,2022-07-11 12:29:09.367,NaN,NaN,NaN,NaN,0,1,0,0
2,22840719,NaN,58760,3,NaN,2022-07-11 12:29:04.227,NaN,2022-07-11 12:29:04.227,NaN,NaN,NaN,NaN,0,1,0,0
3,22840717,NaN,57369,20,NaN,2022-07-11 12:29:02.680,NaN,2022-07-11 12:29:02.680,NaN,NaN,NaN,NaN,0,1,0,0
4,22840710,NaN,13947,11,NaN,2022-07-11 12:28:53.320,NaN,2022-07-11 12:28:53.320,NaN,NaN,NaN,NaN,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6743017,9008592,NaN,22348,70,NW (With Permit),2018-01-01 02:47:54.023,2018-01-01 15:09:22.233,2018-01-01 02:47:54.023,0.0,13.0,0.0,0.0,0,0,0,0
6743018,9007839,NaN,40907,70,NW ONLY,2018-01-01 01:53:11.657,2018-01-01 02:43:54.163,2018-01-01 01:53:11.657,0.0,1.0,0.0,0.0,0,0,0,0
6743019,9007851,NaN,2005,10,Lot 10,2018-01-01 01:33:14.233,2018-01-01 05:03:29.757,2018-01-01 01:33:14.233,0.0,4.0,0.0,0.0,0,0,0,0
6743020,9056422,NaN,23050,70,NW (With Permit),2018-01-01 01:14:17.293,NaN,2018-01-01 01:14:17.293,NaN,NaN,NaN,NaN,0,1,1,0
6743021,9007836,NaN,36907,50,NW (With Permit),2018-01-01 00:48:23.120,2018-01-01 01:51:44.813,2018-01-01 00:48:23.120,0.0,2.0,0.0,0.0,0,0,0,0